{% extends 'pages/modelo.html' %}
{% load static %}




{% block titulo %}

<title>Secretária de Saúde</title>

{% endblock titulo %}




{% block conteudo %}

<div class="card bg-gradient-primary-to-secondary mt-0 "  align="center" id='pad' >
    <h1>
        Bem vindo a Secretária de Saúde 
    </h1>
</div>



<div class='card-deck mb-3 text-center'>
    <div class='card mb-4 shadow-sm'>
        <div class='card-header'>
            <h4>Sistemas Utilizados</h4>
        </div>
  
    </div>



</div>




    <!-- Mensagens de marketing e outras featurezinhas
    ================================================== -->
    <!-- Envolve o resto da página em outro container, para centralizar todo o conteúdo. -->

    <div class="container marketing">

        <div class="container px-lg-1 mt-5">
            <!-- Page Features-->
            <div class="row">
                <div class="col-lg-4 text-center" >
                  <img class="rounded-circle" src="{% static '/img/images/digital.gif'%}" alt="Generic placeholder image" width="140" height="140">
                  <h2>Ponto Biométrico</h2>
                  <p>Sistema de Gestão de Pontos</p>
                  <p><a class="btn btn-info" href="https://inovarepontodigital.com.br/login" role="button">Acessar »</a></p>
                </div><!-- /.col-lg-4 -->

                <div class="col-lg-4 text-center" >
                    <img class="rounded-circle bg-dark" src="{% static '/img/images/sigslogo.png'%}" alt="Generic placeholder image" width="140" height="140">
                    <h2>SIGS</h2>
                    <p>Sistema Integrado de Gestão de Saúde</p>
                    <p><a class="btn btn-info" href="http://sigs.net.br/login" role="button">Acessar »</a></p>
                  </div><!-- /.col-lg-4 -->


                <div class="col-lg-4 text-center">
                  <img class="rounded-circle" src="{% static '/img/images/prodig.gif'%}" alt="Generic placeholder image" width="140" height="140">
                  <h2>PRODIGI</h2>
                  <p>Sistema de Processos digitais e CIs</p>
                  <p><a class="btn btn-info" href="http://prodigi/" role="button">Acessar »</a></p>
                </div>
            
                <hr class="featurette-divider">
             

                <div class="col-lg-4 text-center">
                  <img class="rounded-circle" src="{% static '/img/images/ghbamgif.gif'%}" alt="Generic placeholder image" width="140" height="140">
                  <h2>GHBAM</h2>
                  <p>Gestão Hospitalar de Boletim Atendimento Médico</p>
                  <p><a class="btn btn-info" href="http://ghbam/" role="button">Acessar »</a></p>
                </div><!-- /.col-lg-4 -->

                <div class="col-lg-4 text-center">
                    <img class="rounded-circle" src="{% static '/img/images/samugif.gif'%}" alt="Generic placeholder image" width="140" height="140">
                    <h2>SAMU</h2>
                    <p>Serviço de Atendimento móvel de urgência</p>
                    <p><a class="btn btn-info" href="{%url 'manutencao'%}" role="button">Acessar »</a></p>
                  </div><!-- /.col-lg-4 -->

                  <div class="col-lg-4 text-center">
                    <img class="rounded-circle" src="{% static '/img/images/pacsgif.gif'%}" alt="Generic placeholder image" width="140" height="140">
                    <h2>PACS</h2>
                    <p>Vizualizador de Tomografias e Raio-X</p>
                    <p><a class="btn btn-info" href="http://pacs.itg.rio/" role="button">Acessar »</a></p>
                  </div><!-- /.col-lg-4 -->

                  <hr class="featurette-divider">

                  <div class="col-lg-4 text-center">
                    <img class="rounded-circle" src="{% static '/img/images/risgif.gif'%}" alt="Generic placeholder image" width="140" height="140">
                    <h2>RIS</h2>
                    <p>Sitema de Laudos Médicos</p>
                    <p><a class="btn btn-info" href="http://ris.itg.rio/" role="button">Acessar »</a></p>
                  </div><!-- /.col-lg-4 -->

                  <div class="col-lg-4 text-center">
                    <img class="rounded-circle bg-dark" src="{% static '/img/images/escalaweb.gif'%}" alt="Generic placeholder image" width="140" height="140">
                    <h2>Escala Web</h2>
                    <p>Gestão de Escala</p>
                    <p><a class="btn btn-info" href="https://192.168.10.91:8181/escalaweb/" role="button">Acessar »</a></p>
                  </div><!-- /.col-lg-4 -->

                  <div class="col-lg-4 text-center">
                    <img class="rounded-circle bg-dark" src="{% static '/img/images/esusgifgif.gif'%}" alt="Generic placeholder image" width="140" height="140">
                    <h2>E-SUS</h2>
                    <p>Saúde Atenção Primária</p>
                    <p><a class="btn btn-info" href="http://esus.itg.rio/" role="button">Acessar »</a></p>
                  </div><!-- /.col-lg-4 -->


                  <hr class="featurette-divider">

                  
                  <div class="col-lg-4 text-center">
                    <img class="rounded-circle bg-dark" src="{% static '/img/images/alvara.gif'%}" alt="Generic placeholder image" width="140" height="140">
                    <h2>Web Controle</h2>
                    <p>Alvará Vigilância Sanitária</p>
                    <p><a class="btn btn-info" href="http://192.168.10.91:8080/webControle/" role="button">Acessar »</a></p>
                  </div><!-- /.col-lg-4 -->
                
                 
                
                  <div class="col-lg-4 text-center">
                    <img class="rounded-circle bg-dark" src="{% static '/img/images/sistema-1.gif'%}" alt="Generic placeholder image" width="140" height="140">
                    <h2>SISREG</h2>
                    <p>Saúde Atenção Primária</p>
                    <p><a class="btn btn-info" href="https://sisregiii.saude.gov.br/cgi-bin/index" role="button">Acessar »</a></p>
                  </div><!-- /.col-lg-4 -->
                
        </div>
    </section>
</div>

      <!-- COMEÇAM AS MENCIONADAS FEATUREZINHAS xD -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Secretária de Saúde de Itaguaí <span class="text-muted"></span></h2>
          <p class="lead">Av. Isoldackson Cruz de Brito, 18745 </p>
          <p>Horário de Atendimento: 08 às 17h</p>
           
          <table>
                      <tr class="row-211 odd">
                <td colspan="5" class="column-1"><strong>SAÚDE</strong></td>
            </tr>
            <tr class="row-212 even">
                <td class="column-1">SMS-  Gabinete</td><td class="column-2">37829005</td><td class="column-3">4000</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-213 odd">
                <td class="column-1">SMS-  Gabinete</td><td class="column-2">37829005</td><td class="column-3">4003</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-214 even">
                <td class="column-1">SMS- Materno Infantil</td><td class="column-2">37829005</td><td class="column-3">4004</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-215 odd">
                <td class="column-1">SMS- Sub-Secretaria </td><td class="column-2">37829005</td><td class="column-3">4005</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-216 even">
                <td class="column-1">SMS- Assist. Basica em Saude</td><td class="column-2">37829005</td><td class="column-3">4006</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-217 odd">
                <td class="column-1">SMS- Planejamento </td><td class="column-2">37829005</td><td class="column-3">4008</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-218 even">
                <td class="column-1">SMS- Contabilidade</td><td class="column-2">37829005</td><td class="column-3">4010</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-219 odd">
                <td class="column-1">SMS- Contabilidade</td><td class="column-2">37829005</td><td class="column-3">4011</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-220 even">
                <td class="column-1">SMS- Compras</td><td class="column-2">37829005</td><td class="column-3">4015</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-221 odd">
                <td class="column-1">SMS- RH</td><td class="column-2">37829005</td><td class="column-3">4018</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-222 even">
                <td class="column-1">SMS- Juridico</td><td class="column-2">37829005</td><td class="column-3">4019</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-223 odd">
                <td class="column-1">SMS- Conselho</td><td class="column-2">37829005</td><td class="column-3">4020</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-224 even">
                <td class="column-1">SMS- Expediente Saude Mental</td><td class="column-2">37829005</td><td class="column-3">4021</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-225 odd">
                <td class="column-1">SMS- Complexo Regulador</td><td class="column-2">37829005</td><td class="column-3">4022</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-226 even">
                <td class="column-1">SMS- Diretoria de Infraestrutura</td><td class="column-2">37829005</td><td class="column-3">4023</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-227 odd">
                <td class="column-1">SMS- Craac</td><td class="column-2">37829005</td><td class="column-3">4025</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-228 even">
                <td class="column-1">SMS- Marketing </td><td class="column-2">37829005</td><td class="column-3">4026</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-229 odd">
                <td class="column-1">SMS- Tabagismo</td><td class="column-2">37829005</td><td class="column-3">4027</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-230 even">
                <td class="column-1">SMS- Conselhos Saude</td><td class="column-2">37829005</td><td class="column-3">4028</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-231 odd">
                <td class="column-1">SMS- Cape</td><td class="column-2">37829005</td><td class="column-3">4029</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-232 even">
                <td class="column-1">SMS- Cape</td><td class="column-2">37829005</td><td class="column-3">4030</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-233 odd">
                <td class="column-1">SMS- Cape</td><td class="column-2">37829005</td><td class="column-3">4031</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-234 even">
                <td class="column-1">SMS- Cape</td><td class="column-2">37829005</td><td class="column-3">4034</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-235 odd">
                <td class="column-1">Almoxarifado </td><td class="column-2">37829005</td><td class="column-3">4060</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-236 even">
                <td class="column-1">Almoxarifado</td><td class="column-2">37829005</td><td class="column-3">4061</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-237 odd">
                <td class="column-1">SMS- UBS Vila Margarida</td><td class="column-2">37829005</td><td class="column-3">4063</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-238 even">
                <td class="column-1">Cemes</td><td class="column-2">37829005</td><td class="column-3">4066</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-239 odd">
                <td class="column-1">HMSFX - Direção Médica</td><td class="column-2">37829005</td><td class="column-3">4900</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-240 even">
                <td class="column-1">SMS- CAPIS</td><td class="column-2">37829005</td><td class="column-3">4941</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-241 odd">
                <td class="column-1">SMS-SMS- CEO</td><td class="column-2">37829005</td><td class="column-3">4942</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-242 even">
                <td class="column-1">SMS-DST/AIDS</td><td class="column-2">37829005</td><td class="column-3">4948</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-243 odd">
                <td class="column-1">SMS-SMS- SAMU</td><td class="column-2">37829005</td><td class="column-3">4946</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-244 even">
                <td class="column-1">SMS-Vigilancia em Saúde</td><td class="column-2">37829005</td><td class="column-3">4949</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-245 odd">
                <td class="column-1">HMSFX - Rh</td><td class="column-2">37829005</td><td class="column-3">4950</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-246 even">
                <td class="column-1">HMSFX- Nir</td><td class="column-2">37829010</td><td class="column-3">4951</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-247 odd">
                <td class="column-1">HMSFX- Recepção Emergencia</td><td class="column-2">37829005</td><td class="column-3">4956</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-248 even">
                <td class="column-1">HMSFX - Direção Geral</td><td class="column-2">37829005</td><td class="column-3">4957</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-249 odd">
                <td class="column-1">HMSFX - Enfermagem</td><td class="column-2">37829005</td><td class="column-3">4958</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-250 even">
                <td class="column-1">HMSFX- Recepção 1 </td><td class="column-2">37829005</td><td class="column-3">4961</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-251 odd">
                <td class="column-1">HMSFX- Farmacia</td><td class="column-2">37829005</td><td class="column-3">4963</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-252 even">
                <td class="column-1">SMS- Clinica da Familia</td><td class="column-2">37829005</td><td class="column-3">4964</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-253 odd">
                <td class="column-1">SMS- Coordenação da Enfermagem</td><td class="column-2">37829005</td><td class="column-3">4977</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-254 even">
                <td class="column-1">SMS- UBS Vila Margarida</td><td class="column-2">37829005</td><td class="column-3">4980</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-255 odd">
                <td class="column-1">SMS- UBS Brisamar</td><td class="column-2">37829005</td><td class="column-3">4981</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-256 even">
                <td class="column-1">SMS- UBS Centro</td><td class="column-2">37829005</td><td class="column-3">4982</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-257 odd">
                <td class="column-1">SMS- UBS Chapero</td><td class="column-2">37829005</td><td class="column-3">4983</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-258 even">
                <td class="column-1">SMS- UBS Monte Serrat</td><td class="column-2">37829005</td><td class="column-3">4986</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-259 odd">
                <td class="column-1">SMS- UBS California</td><td class="column-2">37829005</td><td class="column-3">4987</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-260 even">
                <td class="column-1">SMS- UBS Vila Geni</td><td class="column-2">37829005</td><td class="column-3">4988</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-261 odd">
                <td class="column-1">SMS- UBS Vista Alegre</td><td class="column-2">37829005</td><td class="column-3">4989</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-262 even">
                <td class="column-1">SMS- ESF Odnit Maia </td><td class="column-2">37829005</td><td class="column-3">4992</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-263 odd">
                <td class="column-1">SMS- ESF Engenho</td><td class="column-2">37829005</td><td class="column-3">4993</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-264 even">
                <td class="column-1">SMS- ESF Centro</td><td class="column-2">37829005</td><td class="column-3">4997</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-265 odd">
                <td class="column-1">SMS- EFS Santa Candida</td><td class="column-2">37829005</td><td class="column-3">4998</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-266 even">
                <td class="column-1">SMS- Endemia</td><td class="column-2">37829005</td><td class="column-3">5000</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-267 odd">
                <td class="column-1">SMS- Caps Ad </td><td class="column-2">37829005</td><td class="column-3">5004</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
            <tr class="row-268 even">
                <td class="column-1">SMS- Caps Bem Viver</td><td class="column-2">37829005</td><td class="column-3">5006</td><td class="column-4"></td><td class="column-5"></td>
            </tr>
        </table>  
            </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="{% static '/img/images/unidades/saude.jpg'%}" data-holder-rendered="true">
        </div>
      </div>

     

      

      <hr class="featurette-divider">

      <!-- /FIM DAS FEATUREZINHAS *-* -->

    </div><!-- /.container -->


  </main>


{% endblock conteudo %}

{% block lista %}



{% endblock lista %}


