{% extends 'pages/modelo.html' %}
{% load static %}

{% block titulo %}
<title>::Telemedicina::</title>

{% endblock titulo %}

{% comment %} {% block menu %}

{% endblock menu %}  {% endcomment %}


{% block carrossel %}


{% endblock carrossel %}

{% block conteudo %}


<div class="card bg-gradient-primary-to-secondary mp-1"  align="center" id='pad' >
    <h1>
        Telemedicina 
    </h1>
    <h5><p>
        Telemedicina trata do uso das modernas tecnologias da informação e telecomunicações para o fornecimento de informação e atenção médica a pacientes e outros profissionais de saúde situados em locais distantes
    </p></h5>
    {% comment %} <a class="btn btn-primary mt-2 mb-5 mx-auto " href="{% url 'home'%}">Voltar</a> {% endcomment %}

</div>

{% endblock conteudo %}

{% block lista %}
<div>
</div>
<div>
    <h2 class="text-center mb-2 p-3">Em Desenvolvimento</h2>
    <img class="p-4 align-content-center justify-content-center" src="{% static '/img/images/manutencao.gif' %}" alt="">
</div>

{% endblock lista %}





