{% extends 'pages/modelo.html' %}
{% load static %}


{% block titulo %}
<title>::Unidades::</title>

{% endblock titulo %}





{% block carrossel %}
{% endblock carrossel %}



{% block conteudo %}

<div class="card bg-gradient-primary-to-secondary mt-0 "  align="center" id='pad' >
    <h1>
        Unidades Básicas de
Saúde 
    </h1>
    <h3>Unidades</h3>
    <a class="btn btn-primary mt-2 mb-5 mx-auto " href="{% url 'home'%}">Voltar</a>

</div>



{% endblock conteudo %}


{% block lista %}
<div class="container px-lg-1 mt-5">
    <!-- Page Features-->
    <div class="row gx-lg-5">
        <div class="col-lg-6 col-xxl-4 mb-5">
            <div class="card bg-light border-0 h-100">
                <div class="card-body text-center p-2 p-lg-5 pt-0 pt-lg-0">
                    <div class="feature bg-light bg-gradient text-white rounded-3 mb-4 mt-n4">
                        
                        <a href="{% url 'ubsbrisamar'%}">
                            <img src="{% static '/img/images/iconeubs.png'%}" class="item--imageubs" alt="">
                        
                    </div>
                    <h2 class="fs-4 fw-bold">UBS BRISAMAR</h2>
                </a>
                    <p class="mb-0">Rod. Rio Santos, Esquina com Rua Transversal nº 40-Lts 4 e 5-Q 101 De segunda-feira a sexta-feira De:
                        08:00h ás 17:00h</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xxl-4 mb-5">
            <div class="card bg-light border-0 h-100">
                <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                    <div class="feature bg-light bg-gradient text-white rounded-3 mb-4 mt-n4">
                        
                        <a href="{% url 'ubscentro'%}">
                            <img src="{% static '/img/images/iconeubs.png'%}" class="item--imageubs" alt="">
                        
                    </div>
                    <h2 class="fs-4 fw-bold"> UBS CENTRO </h2>
                </a>
                    <p class="mb-0">Rua: Juraci Vidal Clemente, S/N

                        Horário de Atendimento: 08 às 17h</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xxl-4 mb-5">
            <div class="card bg-light border-0 h-100">
                <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                    <div class="feature bg-light bg-gradient text-white rounded-3 mb-4 mt-n4">
                        
                        <a href="{% url 'ubschaperoa'%}">
                            <img src="{% static '/img/images/iconeubs.png'%}" class="item--imageubs" alt="">
                        
                    </div>
                    <h2 class="fs-4 fw-bold"> UBS CHAPERÓ - GLEBA A</h2>
                </a>
                    <p class="mb-0">Rua: Elvira Maia Coelho, Nº21, Gleba A

                        Horário de Atendimento: 08 às 17h</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xxl-4 mb-5">
            <div class="card bg-light border-0 h-100">
                <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                    <div class="feature bg-light bg-gradient text-white rounded-3 mb-4 mt-n4">
                        
                        <a href="{% url 'ubsengenho'%}">
                            <img src="{% static '/img/images/iconeubs.png'%}" class="item--imageubs" alt="">
                        
                    </div>
                    <h2 class="fs-4 fw-bold">UBS ENGENHO</h2>
                </a>
                    <p class="mb-0">Rua João Plaza Gonzales, s/nº Qd: 09 Lt: 01/03 – Loteamento Jardim El Baida

                        Horário de Atendimento: 08 às 17h</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xxl-4 mb-5">
            <div class="card bg-light border-0 h-100">
                <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                    <div class="feature bg-light bg-gradient text-white rounded-3 mb-4 mt-n4">
                        
                        <a href="http://sigs.net.br/login">
                            <img src="{% static '/img/images/iconeubs.png'%}" class="item--imageubs" alt="">
                        
                    </div>
                    <h2 class="fs-4 fw-bold"> UBS MANGUEIRA</h2>
                </a>
                    <p class="mb-0">Rodovia Rio Santos, Esq. Com Av. Bahia Lts. 15,16 e 17 -Qd.09

                        Horário de Atendimento: 08 às 17h</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xxl-4 mb-5">
            <div class="card bg-light border-0 h-100">
                <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                    <div class="feature bg-light bg-gradient text-white rounded-3 mb-4 mt-n4">
                        
                        <a href="http://sigs.net.br/login">
                            <img src="{% static '/img/images/iconeubs.png'%}" class="item--imageubs" alt="">
                        
                    </div>
                    <h2 class="fs-4 fw-bold"> UBS CALIFÓRNIA</h2>
                </a>
                    <p class="mb-0">Rua: N. Sra. das Graças,LTS 2 e 3 -Q 120

                        Horário de Atendimento: 08 às 17h</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xxl-4 mb-5">
            <div class="card bg-light border-0 h-100">
                <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                    <div class="feature bg-light bg-gradient text-white rounded-3 mb-4 mt-n4">
                        
                        <a href="http://sigs.net.br/login">
                            <img src="{% static '/img/images/iconeubs.png'%}" class="item--imageubs" alt="">
                        
                    </div>
                    <h2 class="fs-4 fw-bold"> UBS VILA GENY</h2>
                </a>
                    <p class="mb-0">Rod. Rio Santos, Esq. com Rua São Benedito, S/N-Lts 22,23,e 24- Qd.13

                        Horário de Atendimento: 08 às 17h</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xxl-4 mb-5">
            <div class="card bg-light border-0 h-100">
                <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                    <div class="feature bg-light bg-gradient text-white rounded-3 mb-4 mt-n4">
                        
                        <a href="http://sigs.net.br/login">
                            <img src="{% static '/img/images/iconeubs.png'%}" class="item--imageubs" alt="">
                        
                    </div>
                    <h2 class="fs-4 fw-bold"> UBS VILA MARGARIDA </h2>
                </a>
                    <p class="mb-0">Rua: Alziro Santiago, Lts. 14 e 15, Qd. 14

                        Horário de Atendimento: 08 às 17h</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xxl-4 mb-5">
            <div class="card bg-light border-0 h-100">
                <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                    <div class="feature bg-light bg-gradient text-white rounded-3 mb-4 mt-n4">
                        
                        <a href="http://sigs.net.br/login">
                            <img src="{% static '/img/images/iconeubs.png'%}" class="item--imageubs" alt="">
                        
                    </div>
                    <h2 class="fs-4 fw-bold"> UBS VISTA ALEGRE </h2>
                </a>
                    <p class="mb-0">Estrada Teixeira, S/N -Lts.14 e15 , Qd.58

                        Horário de Atendimento: 08 às 17h</p>
                </div>
            </div>
        </div>
   
</section>
</div>





{% endblock lista %}

