{% extends 'pages/modelo.html' %}

{% load static %}

{% block menu %}


{% endblock menu %}






{% block conteudo %}





<div class="card text-center  w-50 m-lg-auto p-3">
  <div class="card-header p-2 bg-gradient-primary-to-secondary-2">
    <h3>Obrigado</h3>
    </div>
    <div class="card-body">
      <h5 class="card-title">Por usar nosso sistema</h5>
    
    <a href="{%url 'home'%}" class='btn btn-primary'> Início</a>
    </div>
{% endblock conteudo %}


{% block lista  %}



{% endblock  %}




