{% extends 'pages/modelo.html' %}
{% load crispy_forms_tags %}
{% load static %}


{%block titulo%} <title>Registro</title>{% endblock %}  





{%block conteudo%}
<div class="card">
    <div class="card-header">
      <h1>Bem Vindo</h1>
    </div>
    <div class="card-body">
      <h5 class="card-title">Entre em contato com Suporte para Criação da sua Conta</h5>
      <p class="card-text">Clique no botão abaixo e entre em contato.</p>
    </div>
    <a href="https://chat.whatsapp.com/BYj3PB4biau0nedZdRIUMA" class="btn btn-success m-md-5 p-1">Suporte WhatsApp</a>

  </div>





{%endblock%}


{% block lista %}
{% endblock %}