{% extends 'pages/modelo.html' %}
{% load crispy_forms_tags %}
{% load static %}


{%block titulo%} <title>Deletar Pessoa</title>{% endblock %}  


{%block conteudo%}
<h1>Deletar o Registro dessa Pessoa ? 
    {% if perfil.nome  %}
<h3>Nome: ({{perfil.nome}}) </h3>
{% else %}
<h3>Nome: ({{user.username}}) </h3>
{% endif %}
<br>
{% if  perfil.nome %}
<h3>Telefone: {{perfil.telefone}} </h3>
{% else %}
<h3>Email: {{user.email}}</h3>
{% endif %}
<br>
<h6>Deseja confirmar para deletar ?</h6>

<form method='post' enctype='multipart/form-data'>
    {% csrf_token %}
    


    <button type="submit" class="btn btn-warning">Confirmar</button> 
    <a href="{%url 'adminlist'%}" class="btn btn-dark">Cancelar</a></button>  
</form>



   






{% endblock %}   

{% block lista %}{% endblock lista %}
    


